img {
    width: 100%;
    min-height: calc(100vh - 160px);
    display: block;
}
div {
    position: relative;
}

h1 {
    position: absolute;
    top: 20%;
    left: 10%;
    color: #fff;
    font-size: 80px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}