:host{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}
.menu-spacer {
    flex: 1 1 auto;
}
img {
    width: 145px;
    height: 50px;
    margin-right: 10px;
}
mat-form-field.mat-form-field {
    font-size: 15px;
}

.loginout {
    margin-left: 25px;
}