h4 {
    margin: 5px;
}
.filter {
    padding: 10px;
}

button {
  display: block;
  height: 25px;
}

mat-form-field.mat-form-field {
    width:300px;
}

mat-panel-description{
  color:black;
  font-weight: 500;
}


