<div class="filter" >
    <mat-form-field color="accent">
        <span matPrefix> </span>
        <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]="filterText" >
        <button matSuffix mat-button (click)="filterByText()"><mat-icon >search</mat-icon></button>
    </mat-form-field>
    <h4>City</h4>
    <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selectedCityId" (valueChange)="filterBySelects()">
            <mat-option value=0>ALL</mat-option>
            <mat-option *ngFor="let city of cities" [value]="city.codigoTabla">{{city.valor}}</mat-option>
        </mat-select>
    </mat-form-field>
    <h4>State</h4>
    <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selectedStateId" (valueChange)="filterBySelects()">
            <mat-option value=0>ALL</mat-option>
            <mat-option *ngFor="let state of states" [value]="state.codigoTabla">{{state.valor}}</mat-option>
        </mat-select>
    </mat-form-field>
    <h4>Type</h4>
    <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selectedcustTypeId" (valueChange)="filterBySelects()">
            <mat-option value=0>ALL</mat-option>
            <mat-option *ngFor="let custType of custTypes" [value]="custType.codigoTabla">{{custType.valor}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>  