<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{ history.prodType }} {{history.brand}}</mat-card-title>
      <mat-card-subtitle class="content"><span>Name:  </span>{{ history.prodname }}</mat-card-subtitle>
      <mat-card-subtitle class="content">{{ history.invdate }}<span class="tab">Cases: </span>{{history.cases}}<span class="tab">Units: </span>{{history.units}}<span class="tab">Cscst: </span>{{history.invcscst}}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>



