.example-card {
    width: 400px;
    height: 250px;
    margin: 5px;
}
span {
    font-weight: bold;
}
.content {
    color:black;
}

img { 
    width: 100px;
    height: 150px;
}

mat-card-title {
    max-width: 300px;
}

mat-card-title {
    font-size: 1.2em;
}