mat-form-field.mat-form-field {
  width: 300px;
}

mat-panel-description {
  color: black;
  font-weight: 500;
}

section {
  margin: 10px 5px;
}

h4 {
  margin: 5px;
}

button {
  display: block;
  height: 25px;
}

.filter {
  padding: 10px;
}


