<div class="filter" >
    <mat-form-field color="accent">
        <span matPrefix> </span>
        <input matInput placeholder="Search" name= "search" [(ngModel)]="filterText" (input)="filterByText()">
        <button matSuffix mat-button><mat-icon >search</mat-icon></button>
    </mat-form-field>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-description>
          Brand
        </mat-panel-description>
      </mat-expansion-panel-header>
        <button mat-flat-button (click)="setBrandValue(0)">ALL</button>
        <button mat-flat-button  *ngFor="let brand of brands" (click)="setBrandValue(brand.prodBrand)">{{brand.brand}}</button>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-description>
          Country
        </mat-panel-description>
      </mat-expansion-panel-header>
        <button mat-flat-button (click)="setCountryValue(0)">ALL</button>
        <button mat-flat-button  *ngFor="let country of countries" (click)="setCountryValue(country.codigoTabla)">{{country.valor}}</button>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-description>
          Region
        </mat-panel-description>
      </mat-expansion-panel-header>
        <button mat-flat-button (click)="setRegionValue('string')">ALL</button>
        <button mat-flat-button  *ngFor="let region of regions" (click)="setRegionValue(region.region)">{{region.region}}</button>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-description>
          Producer
        </mat-panel-description>
      </mat-expansion-panel-header>
        <button mat-flat-button (click)="setProducerValue(0)">ALL</button>
        <button mat-flat-button  *ngFor="let producer of producers" (click)="setProducerValue(producer.prsupplier)">{{producer.producer}}</button>
    </mat-expansion-panel>
</div>
