<app-section pageName="About Us"></app-section>
<div class="container"  fxLayoutAlign="center center">
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-subtitle>
            <p>
              <span>Dionysos Imports</span> was established in 1991 by Yannis Tsapos. Initially, we
              imported and distributed wines and beers from Greece and Cyprus. In
              1992, we expanded our operations to include wines from Italy, as well as
              from Virginia and California. In 1993 and 1994, further expansion
              included wines from France and Portugal.
            </p>
            <p>
              We currently import some of the best rated and regarded wines from
              France, Spain, Portugal, Italy, Greece, South Africa, Australia, New
              Zealand, Lebanon, Chile, Argentina, Armenia, Ukraine, Georgia, Turkey
              and Israel, along with the states of California, Oregon, New York and
              Indiana.
            </p>
            <p>
              Dionysos also imports and distributes beers from Greece, Germany,
              Turkey, Honduras, Lithuania and Portugal. We recently expanded our
              operations and import foods, cheese, olive oil, and bottled water.
              Dionysos Imports and its affiliated companies distribute in the States
              of Virginia, Maryland and Washington D.C.
            </p>
            <p>
              We would like to thank our customers for their continued support and
              business they have given us all these years, and in return we pledge to
              continue our efforts in bringing you the quality products you enjoy.
            </p></mat-card-subtitle
          >
          <img mat-card-xl-image src="../../../assets/images/logoAboutus.png" />
        </mat-card-title-group>
    </mat-card>
</div>

