.container {
    min-height: 600px;
    margin: 10px auto;
}

mat-card{
    max-width: 1000px;
    margin: 0 20px;
}

mat-card-subtitle p {
    font-size: 20px;
    color: black;
    font-weight: lighter;
}

mat-card-subtitle p span{
    font-weight: bold;
}