.container {
  margin: 20px 0;
}
mat-card-title{
  font-size: 25px;
}

mat-card{
  box-shadow: none !important;
  width: 800px;
}

mat-card-content{
  width: 100%;
}

.subtittle{
  font-size: 20px;
}

.space {
  font-weight: bold;
  width: 80px;
  display: inline-block;
}
.content {
  color:black;
}

.text {
  color:black;
  max-width: 500px;

}

.imgBrand {
  margin: 15px 0;
  width: 100%;
}

p {
  font-size: 15px;
}

