<app-section
  [isCustomerPage]="false"
  pageName="Product Detail"></app-section>
<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="none center">
  <mat-card
    fxLayout="row"
    fxLayoutGap="30px"
    fxLayoutAlign="center">
    <img
      mat-card-xl-image
      src="{{product?.imagen}}">
    <mat-card-title-group *ngIf="product">
      <mat-card-title>{{ product?.prodName }}</mat-card-title>
      <mat-card-subtitle class="subtittle">{{ product?.brand }}</mat-card-subtitle>
      <mat-card-subtitle class="content">
        <span class="space">Country </span>
        {{ product?.country }}
      </mat-card-subtitle>
      <mat-card-subtitle class="content">
        <span class="space">Region </span>
        {{ product?.region }}
      </mat-card-subtitle>
      <mat-card-subtitle class="content">
        <span class="space">Size </span>
        {{ product?.size }}
      </mat-card-subtitle>
      <mat-card-subtitle class="content">
        <span class="space">Type </span>
        {{ product?.prodType }}
      </mat-card-subtitle>
      <mat-card-subtitle class="content">
        <span class="space">Variety </span>
        {{ product?.variety }}
      </mat-card-subtitle>
      <mat-card-subtitle class="content">
        <span class="space">Rating </span>
        {{ product?.rating }}
      </mat-card-subtitle>
      <mat-card-subtitle class="content">
        <span class="space">Website </span>
        {{ product?.webProduct }}
      </mat-card-subtitle>
      <mat-card-subtitle
        class="text"
        *ngIf="productDetails[0]">
        <p>{{productDetails[0].prodMemo}}</p>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>
  <mat-card class="brand">
    <mat-card-title>About the Producer</mat-card-title>
    <img
      *ngIf="productDetails[0]"
      class="imgBrand"
      mat-card-image
      src="{{productDetails[0].brandPic}}"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <ng-container *ngFor="let productDetail of productDetails">
        <p>{{productDetail.memo}}</p>

        <p><span class="space">Website</span> {{productDetail.webSite}}</p>
      </ng-container>
    </mat-card-content>

    <h3
      class="button-where-can-i-get-it"
      (click)="goToCustomers()">Where can I get it?</h3>
  </mat-card>
</div>
<!-- <div
  fxLayout="row wrap"
  fxLayoutAlign="center flex-start">
  <app-customer-item
    *ngFor="let customer of customers"
    [customer]="customer"></app-customer-item>
</div> -->
