<mat-card class="example-card">
    <mat-card-title>{{history.prodName}}</mat-card-title>
    <mat-card-subtitle>{{history.brand}}</mat-card-subtitle>
    <mat-card-content>
        <p><span>ProdCode</span> {{history.prodCode}}</p>
        <p><span>InvDate</span> {{history.invDate}}</p>
        <p><span>InvNum</span> {{history.invNum}}</p>
        <p><span>InvCsCst</span> {{history.invCsCst}}</p>
        <p><span>InvNumCs</span> {{history.invNumCs}}</p>
        <p><span>InvNumUn</span> {{history.invNumUn}}</p>
        <p><span>InvTotal</span> {{history.invTotal}}</p>
        <p><span>Paidyn</span> {{history.paidYn}}</p>
    </mat-card-content>
</mat-card>

