<app-section pageName="Distributors"></app-section>
<div class="container" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="center">
    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>VI, Inc.</mat-card-title>
          <mat-card-subtitle>Distribution in Maryland</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <p>19220 Orbit Dr Unit #10</p>
          <p>Gaithersburg, MD 20879</p>
          <p><a href="tel:301-977-2282">Tel: (301) 977-2282</a></p>
          <p>Fax: (301) 924-1936</p>
        </mat-card-content>
    </mat-card> 
    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Distinctive Imports, Inc.</mat-card-title>
          <mat-card-subtitle>Distribution in Illinois</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <p>941 Estes Court,</p>
          <p>Schaumburg, IL 60193</p>
          <p><a href="tel:312-456-5597">Tel: (312) 456-5597</a></p>
        </mat-card-content>
    </mat-card> 
    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Fotis & Son Imports</mat-card-title>
          <mat-card-subtitle>Distribution in Illinois</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <p>540 Windy Point Dr.</p>
          <p>Glendale Heights Village, DuPage, IL, 60139</p>
          <p><a href="tel:630-790-1800">Tel: (630) 790-1800</a></p>
        </mat-card-content>
    </mat-card> 
    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Alliance Wines Corp.</mat-card-title>
          <mat-card-subtitle>Distribution in North Carolina</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <p>706 Ellis Rd</p>
          <p>Durham, NC 27703</p>
          <p><a href="tel:919-792-8799">Tel: (919) 792-8799</a></p>
        </mat-card-content>
    </mat-card> 
    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>CHL International</mat-card-title>
          <mat-card-subtitle>Distribution in North Carolina</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <p>3809 Beam Road</p>
          <p>Charlotte, NC 28217</p>
          <p><a href="tel:704-329-0006">Tel: (704) 329-0006</a></p>
        </mat-card-content>
    </mat-card> 
    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>CHL International</mat-card-title>
          <mat-card-subtitle>Distribution in South Carolina</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <p>2566 Center Circle</p>
          <p>Front Mill, SC 29715</p>
          <p><a href="tel:704-329-0006">Tel: (704) 329-0006</a></p>
        </mat-card-content>
    </mat-card> 
    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Nestor Imports Inc.</mat-card-title>
          <mat-card-subtitle>Distribution in New York</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <p>8403 7th Avenue</p>
          <p>Brooklyn, New York, 11228</p>
          <p><a href="tel:718-836-1133">Tel: (718) 836-1133</a></p>
        </mat-card-content>
    </mat-card> 
    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Pompia, Inc.</mat-card-title>
          <mat-card-subtitle>Distribution in Florida</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <p>1914 Tigertail Blvd</p>
          <p>Dania Beach, FL 33004</p>
          <p><a href="tel:781-350-0033">Tel: (781) 350-0033</a></p>
        </mat-card-content>
    </mat-card> 
    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Bacchus Distributor</mat-card-title>
          <mat-card-subtitle>Distribution in Georgia</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <p>774-A Brogdon Road</p>
          <p>Suwanee, GA 30024</p>
          <p><a href="tel:770-714-8836">Tel: (770) 714-8836</a></p>
        </mat-card-content>
    </mat-card> 
         
</div>

