<div class="container"  fxLayoutAlign="center center">
    <mat-card class="box" >
      <mat-card-header>
        <mat-card-title>Profile</mat-card-title>
      </mat-card-header>
      <form [formGroup]="form">
        <mat-card-content fxLayout="column" fxLayoutGap="10px">
          <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxFlex="33%">
            <mat-form-field color="accent" fxFlex.gt-sm="50%" fxFlex.lt-md="100%" fxFlexFill>
              <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            <mat-form-field color="accent" fxFlex.gt-sm="50%" fxFlex.lt-md="100%" fxFlexFill>
              <input matInput placeholder="Address" formControlName="address">
            </mat-form-field>
          </div>

          <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxFlex="33%">
            <mat-form-field color="accent" fxFlex.gt-sm="25%" fxFlex.lt-md="100%" fxFlexFill>
              <input matInput placeholder="City" formControlName="city">
            </mat-form-field>
            <mat-form-field color="accent" fxFlex.gt-sm="25%" fxFlex.lt-md="100%" fxFlexFill>
              <input matInput placeholder="Country" formControlName="country">
            </mat-form-field>
            <mat-form-field color="accent" fxFlex.gt-sm="25%" fxFlex.lt-md="100%"  fxFlexFill>
              <input matInput placeholder="State" formControlName="state">
            </mat-form-field>
            <mat-form-field color="accent" fxFlex.gt-sm="25%" fxFlex.lt-md="100%" fxFlexFill>
              <input matInput placeholder="Zip" formControlName="zip">
            </mat-form-field>
          </div>

          <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxFlex="33%">
            <mat-form-field color="accent" fxFlex.gt-sm="50%" fxFlex.lt-md="100%" fxFlexFill>
              <input matInput placeholder="Type" formControlName="type">
            </mat-form-field>
            <mat-form-field color="accent" fxFlex.gt-sm="50%" fxFlex.lt-md="100%"  fxFlexFill>
              <input matInput placeholder="License" formControlName="license">
            </mat-form-field>
          </div>
          <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxFlex="33%">
            <mat-form-field color="accent" fxFlex.gt-sm="50%" fxFlex.lt-md="100%" fxFlexFill>
              <input matInput placeholder="Contact" formControlName="contact">
            </mat-form-field>
            <mat-form-field color="accent" fxFlex.gt-sm="50%" fxFlex.lt-md="100%" fxFlexFill>
              <input matInput placeholder="Phone" formControlName="phone">
            </mat-form-field>
          </div>

          <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxFlex="33%">
            <mat-form-field color="accent" fxFlex.gt-sm="50%" fxFlex.lt-md="100%" fxFlexFill>
              <input matInput placeholder="Website" formControlName="website">
            </mat-form-field>
            <mat-form-field color="accent" fxFlex.gt-sm="50%" fxFlex.lt-md="100%" fxFlexFill>
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
          </div>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Update</button>
      </form>
    </mat-card>
</div>



