<img src="{{imgUrl}}" alt="" />
<div class="option">
  <div  fxLayout="column" >
    <h1>{{pageName}}</h1>
    <h3>{{subPageName}} - {{pageName}}</h3>
    <div *ngIf="isCustomerPage && idCustomer" fxLayout="row" fxLayoutGap="30px" class="listChip">
      <mat-chip-list  *ngFor="let subPage of subPages">
        <mat-chip [routerLink]="[subPage.url]" (click)="changeSubPage(subPage.name)"> {{subPage.name}}</mat-chip>
      </mat-chip-list>
    </div>
    <div *ngIf="!isCustomerPage" fxLayout="row" fxLayoutGap="30px" class="listChip">
      <mat-chip-list  *ngFor="let subPage of subPages">
        <mat-chip [routerLink]="['/product', subPage.id]" (click)="changeSubPage(subPage.name)"> {{subPage.name}}</mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>




